# This is a basic workflow to help you get started with Actions

name: Build and test

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events
  push:
    branches: [ master ]
 
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build:
      runs-on: ubuntu-latest

      steps:
      # Check out the repo
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Build with Gradle
        run: ./gradlew test
      - name: Sonar scan
        run: ./gradlew sonarqube -Dsonar.projectKey=koneko096_Classy -Dsonar.organization=koneko096-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONAR_KEY }}
