# This is a basic workflow to help you get started with Actions

name: Build and test

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events
  push:
    branches: [ master ]
 
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          java: [ 8, 11 ]

      steps:
      # Check out the repo
      - name: Checkout
        uses: actions/checkout@v2
      # Sonar stop using JDK 8
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.cache/selenium
          key: ${{ runner.os }}-gradle-${{ matrix.java }}-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ matrix.java }}-
            ${{ runner.os }}-gradle-
      - name: Sonar analyze
        run: ./gradlew sonarqube --info
        env:
          # Needed to get some information about the pull request, if any
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # SonarCloud access token should be generated from https://sonarcloud.io/account/security/
          SONAR_TOKEN: ${{ secrets.SONAR_KEY }}
